{% extends 'myblog/base.html' %}

{% block title %}Градиентный бустинг{% endblock %}

{% block content %}
  <style>
    .content-container {
      margin: 20px auto; /* Отступы со всех сторон и автоматическое выравнивание по центру */
      line-height: 2; /* Здесь 1.5 - это множитель текущего размера шрифта */
      max-width: 800px; /* Максимальная ширина контейнера */
    }

    .img-container {
      display: flex;
      justify-content: center; /* Выравнивание по горизонтали */
      align-items: center; /* Выравнивание по вертикали */
      margin-bottom: 20px; /* Дополнительный отступ снизу */
    }

    .img-container img {
      max-width: 100%; /* Максимальная ширина изображения */
      max-height: 100%; /* Максимальная высота изображения */
    }
  </style>

  <div class="content-container">
    <h2>Градиентный бустинг</h2>

    <p>
    Градиентный бустинг (Gradient Boosting) - это метод машинного обучения, который использует ансамбль слабых моделей, например, деревьев решений, для создания сильной модели прогнозирования. Он работает путем последовательного обучения новых моделей, которые исправляют ошибки предыдущих моделей. Градиентный бустинг широко применяется к задачам регрессии и классификации и обычно демонстрирует высокую точность прогнозирования.
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/boost_media/1_boost_gif.webp" alt="" width="600" height="400">
    </div>

    <p>
    Для реализации градиентного бустинга на основе датасета из Kaggle, мы используем библиотеки машинного обучения, такие как scikit-learn и XGBoost, а также фреймворк глубокого обучения TensorFlow.
    </p>

    <p>
    В качестве датасета мы выбрали данные о ценах на жилье в <a href="https://www.kaggle.com/datasets/simpleparadox/bostonhousingdataset?resource=download">Boston (Boston Housing Prices dataset)</a> из Kaggle. Разделяем данные на признаки (X) и целевую переменную (y).
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/boost_media/2_boost.png" alt="" width="600" height="400">
    </div>

    <p>
    Основной код для обучения модели градиентного бустинга с помощью библиотеки XGBoost. Модель обучается на обучающих данных (X_train_scaled, y_train) с использованием гиперпараметров, заданных при создании модели. Затем модель используется для предсказания на тестовой выборке.
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/boost_media/3_boost.png" alt="" width="600" height="400">
    </div>

    <p>
    Выводится значение среднеквадратичной ошибки (MSE), чтобы оценить качество модели. Для визуализации результатов можно построить график, где по оси X будут настоящие цены на жилье, а по оси Y - предсказанные значения целевой переменной. Чем ближе точки к диагонали, тем лучше модель.
    </p>

    <div class="img-container">
      <img class="img-fluid rounded " src="/media/boost_media/4_boost.png" alt="" width="600" height="400">
    </div>
    <p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/boost_media/5_boost.png" alt="" width="600" height="400">
    </div>

    <p>
    Вывод: Градиентный бустинг с использованием библиотеки XGBoost позволяет создать модель с высокой точностью прогнозирования. Оценка качества модели показала низкое значение среднеквадратичной ошибки, что указывает на хорошее качество предсказаний. График настоящих и предсказанных значений также демонстрирует, что модель достаточно точно предсказывает целевую переменную, что подтверждает ее эффективность в данной задаче.
    </p>
  </div>
{% endblock %}
