{% extends './base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block header %}
    {% include './block/slider.html' %}
{% endblock %}
{% block content %}
  <section class="all-posts mt-5">
    <h1 class="text-center">Последние записи блога</h1>
    <div class="container">
      <div class="row">
      {% for post in posts %}
        <div class="col-md-4 d-flex">
          <div class="card mb-4">
            <img src="media/{{ post.image }}" alt="" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-text">{{ post.h1 }}</h4>
              <div class="card-text">{{ post.description|safe|truncatechars:100 }}</div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center mt 3">
                <small class="text-muted">{{ post.created_at }}</small>
                <a href="{% url 'post_detail' slug=post.url %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </section>
{% endblock %}

{% block pagination %}
    <section class="my-pagination">
      <nav aria-label="Paginate me">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Следующая</a>
            </li>
        </ul>
      </nav>
    </section>
{% endblock %}