<!-- myblog/templates/myblog/polynomial_regression.html -->

{% extends 'myblog/base.html' %}

{% block content %}
  <style>
    .content-container {
      margin: 20px auto; /* Отступы со всех сторон и автоматическое выравнивание по центру */
      line-height: 2; /* Здесь 1.5 - это множитель текущего размера шрифта */
      max-width: 1000px; /* Максимальная ширина контейнера */
    }

    .img-container {
      margin-bottom: 20px; /* Дополнительный отступ снизу */
      text-align: center; /* Выравнивание по центру */
    }

    .img-container img {
      max-width: 100%; /* Максимальная ширина изображения */
      height: auto; /* Автоматическая высота */
    }
    .code-cell {
        margin-left: 0; /* Убираем отступ слева */
        margin-right: auto; /* Выравнивание по правому краю */
        width: auto; /* Ширина ячейки кода */
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 1px;
        background-color: #f7f7f7;
        font-family: monospace;
        line-height: 1;
        overflow-x: auto;
        text-align: left; /* Выравниваем текст по левому краю */
    }

  </style>

  <div class="content-container">
    <h2>Полиномиальная регрессия</h2>

    <p>
    Полиномиальная регрессия - это метод регрессии, который использует многочлены для аппроксимации зависимости между независимой переменной и зависимой переменной. Он является расширением линейной регрессии, позволяя моделировать более сложные взаимосвязи между переменными. Вместо линейной зависимости, полиномиальная регрессия может улавливать криволинейные и нелинейные взаимосвязи между переменными, что делает ее мощным инструментом анализа данных.
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/pol_media/pol_reg_gif.webp" alt="" width="600" height="400">
    </div>

    <p>
      Для реализации полиномиальной регрессии на основе датасета из Kaggle, мы используем библиотеки машинного и глубокого обучения, такие как scikit-learn, XGBoost и TensorFlow.
    </p>

    <p>
      В качестве датасета мы выбрали данные о ценах на жилье в <a href="https://www.kaggle.com/datasets/simpleparadox/bostonhousingdataset?resource=download">Boston (Boston Housing Prices dataset)</a> из Kaggle. Мы прогнозируем цены на жилье на основе различных характеристик домов.
    </p>

    <div class="img-container">
      <pre class="code-cell">
        <code>
          import pandas as pd
          from sklearn.model_selection import train_test_split
          from sklearn.preprocessing import StandardScaler
          # Загрузка данных
          data = pd.read_csv('boston-housing-dataset.csv')
          # Разделение на признаки и целевую переменную
          X = data.drop('MEDV', axis=1)
          y = data['MEDV']
          # Разделение на обучающую и тестовую выборки
          X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
          # Масштабирование признаков
          scaler = StandardScaler()
          X_train_scaled = scaler.fit_transform(X_train)
          X_test_scaled = scaler.transform(X_test)
        </code>
      </pre>
    </div>

    <p>
      Создаем полиномиальные признаки с помощью PolynomialFeatures и обучаем модель линейной регрессии на полученных признаках. Затем модель используется для предсказания цен на жилье на тестовой выборке. Оценка качества модели происходит с помощью среднеквадратичной ошибки (MSE).
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/pol_media/2_pol.png" alt="" width="600" height="400">
    </div>

    <p>
      Выводится значение среднеквадратичной ошибки (MSE), чтобы оценить качество модели. Для визуализации результатов можно построить график, где по оси X будут настоящие цены на жилье, а по оси Y - предсказанные цены на жилье. Чем ближе точки к диагонали, тем лучше модель.
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/pol_media/3_pol.png" alt="" width="600" height="400">
    </div>

    <p>
    <div class="img-container">
      <img class="img-fluid rounded" src="/media/pol_media/4_pol.png" alt="" width="600" height="400">
    </div>

    <p>
      Вывод: Таким образом, полиномиальная регрессия успешно применяется для прогнозирования цен на жилье в Boston на основе различных характеристик домов. Этот метод может быть полезен для рынка недвижимости и других областей, где нелинейные зависимости могут играть важную роль.
    </p>
  </div>
{% endblock %}
