{% extends 'myblog/base.html' %}

{% block title %}Полиномиальная регрессия{% endblock %}

{% block content %}
  <style>
    .content-container {
      margin: 20px auto; /* Отступы со всех сторон и автоматическое выравнивание по центру */
      line-height: 2; /* Здесь 1.5 - это множитель текущего размера шрифта */
      max-width: 1000px; /* Максимальная ширина контейнера */
    }

    .img-container {
      margin-bottom: 20px; /* Дополнительный отступ снизу */
      text-align: center; /* Выравнивание по центру */
    }

    .img-container img {
      max-width: 100%; /* Максимальная ширина изображения */
      height: auto; /* Автоматическая высота */
    }

    .form-group {
      margin-bottom: 20px;
    }

    .hidden {
      display: none;
    }
  </style>
    
  <div class="content-container">
    <h2>Полиномиальная регрессия</h2>

    <p>
      Полиномиальная регрессия - это метод регрессии, который использует многочлены для аппроксимации зависимости между независимой переменной и зависимой переменной. Он является расширением линейной регрессии, позволяя моделировать более сложные взаимосвязи между переменными. Вместо линейной зависимости, полиномиальная регрессия может улавливать криволинейные и нелинейные взаимосвязи между переменными, что делает ее мощным инструментом анализа данных.
    </p>

    <div class="img-container">
      <img class="img-fluid rounded" src="/media/pol_media/pol_reg_gif.webp" alt="" width="600" height="400">
    </div>

    <p>
      <div class="img-container">
        <pre class="code-cell">
          <code>
            import pandas as pd
            from sklearn.model_selection import train_test_split
            from sklearn.preprocessing import StandardScaler
              
            # Загрузка данных
            data = pd.read_csv('myblog/diabetes.csv')  # Поменяй 'diabetes.csv' на путь к вашему файлу

            # Разделение данных на признаки (X) и целевую переменную (y)
            X = data.drop('Outcome', axis=1)
            y = data['Outcome']

            # Масштабирование признаков
            scaler = StandardScaler()
            scaler.fit(X)
            X_scaled = scaler.transform(X)
          </code>
        </pre>
      </div>
    </p>

    <p>
        Этот код выполняет следующие действия. Он загружает данные из файла diabetes.csv и разделяет их на матрицу признаков и вектор целевой переменной. Затем он создает и обучает модель полиномиальной регрессии для предсказания вероятности возникновения диабета на основе введенных пользователем данных. После предсказания вероятности диабета для введенных данных, он вставляет эти данные в базу данных MySQL.
    </p>
      
    <div class="img-container">
      <pre class="code-cell">
        <code>
          import matplotlib.pyplot as plt
          # Построение графика рассеяния для фактических и предсказанных значений
          plt.figure(figsize=(10, 6))
          plt.scatter(y_test, y_pred_poly, color='blue')
          plt.plot([min(y_test), max(y_test)], [min(y_test), max(y_test)], linestyle='--', color='red')
          plt.xlabel('Фактические значения')
          plt.ylabel('Предсказанные значения')
          plt.title('График рассеяния для полиномиальной регрессии')
          plt.show()
        </code>
      </pre>
    </div>

    <div id="diabetes-prediction">
      <h1>Диабет</h1>
      <button id="toggle-prediction-form" onclick="togglePredictionForm()">Обучить модель</button>
      <div id="prediction-form" class="hidden">
        <h2>Сделать прогноз</h2>
        <div class="form-group">
          <label for="pregnancies">Количество беременностей:</label>
          <input type="number" id="pregnancies" name="pregnancies" value="0">
        </div>
        <div class="form-group">
          <label for="glucose">Уровень глюкозы:</label>
          <input type="number" id="glucose" name="glucose" value="0">
        </div>
        <div class="form-group">
          <label for="blood-pressure">Артериальное давление:</label>
          <input type="number" id="blood-pressure" name="blood-pressure" value="0">
        </div>
        <div class="form-group">
          <label for="skin-thickness">Толщина кожной складки:</label>
          <input type="number" id="skin-thickness" name="skin-thickness" value="0">
        </div>
        <div class="form-group">
          <label for="insulin">Инсулин:</label>
          <input type="number" id="insulin" name="insulin" value="0">
        </div>
        <div class="form-group">
          <label for="bmi">ИМТ:</label>
          <input type="number" id="bmi" name="bmi" value="0">
        </div>
        <div class="form-group">
          <label for="diabetes-pedigree">Генетический фактор:</label>
          <input type="number" id="diabetes-pedigree" name="diabetes-pedigree" value="0">
        </div>
        <div class="form-group">
          <label for="age">Возраст:</label>
          <input type="number" id="age" name="age" value="0">
        </div>
        <button id="predict-button" onclick="makePrediction()">Сделать прогноз</button>
        <p id="prediction-result"></p> <!-- Место для отображения результата -->
      </div>
    </div>
  </div>

<script>
  function togglePredictionForm() {
    var predictionForm = document.getElementById('prediction-form');
    if (predictionForm.classList.contains('hidden')) {
      predictionForm.classList.remove('hidden');
    } else {
      predictionForm.classList.add('hidden');
    }
  }

  function makePrediction() {
    var form = document.getElementById('prediction-form');
    var formData = new FormData(form);

    // Отправляем POST-запрос на сервер
    fetch('/predict_diabetes/', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      // Отображаем результат на странице
      document.getElementById('prediction-result').innerText = "Predicted Probability of Diabetes: " + data.probability.toFixed(2);
    })
    .catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}
