{% extends './base.html' %}
{% load static %}

{% block title %}{{ post.h1 }}{% endblock %}

{% block header %}
    {% include './block/header.html' %}
{% endblock %}

{% block content %}
    <section class="my-post-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav aria-label="breadcrumb" class="my-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ post.h1 }}</li>
                        </ol>
                    </nav>
                    <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
                    <hr>
                    <p class="lead">
                        {{ post.content|safe }}
                    </p>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div class="lead">Автор: {{ post.author }}</div>
                        <div>Опубликовано: {{ post.created_at }}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>
{% endblock %}