{% load static %}
<section class="my-navigation">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'img/GeekGenius-logo.png' %}" class="d-inline-block align-top" alt="GeekGenius-logo" width="30" height="30">
      </a>
      <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'img/django-logo.png' %}" class="d-inline-block align-top" alt="django-logo" width="60" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Разделы блога
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
              <li><a class="dropdown-item" href="{% url 'polynomial_regression' %}">Полиномиальная регрессия</a></li>
              <li><a class="dropdown-item" href="{% url 'gradient_boosting' %}">Градиентный бустинг</a></li>
              <li><a class="dropdown-item" href="{% url 'polynomial_regression' %}">Рекурсивная нейронная сеть</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>
        {% if user.is_authenticated %}
          <div class="navbar-text ms-3">
            Привет, {{ user.username }}!
            <a href="{% url 'logout' %}" class="btn btn-outline-light ms-2">Выход</a>
          </div>
        {% else %}
          <button type="button" class="btn btn-outline-light ms-2" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</button>
          <button type="button" class="btn btn-outline-light ms-2" data-bs-toggle="modal" data-bs-target="#registrationModal">Регистрация</button>
        {% endif %}
      </div>
    </div>
  </nav>
</section>

<!-- Модальное окно для входа -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Вход в систему</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'signin' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="loginUsername" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="loginUsername" name="username" required>
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="loginPassword" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Модальное окно для регистрации -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registrationModalLabel">Форма регистрации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="registrationUsername" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="registrationUsername" name="username" required>
          </div>
          <div class="mb-3">
            <label for="registrationPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="registrationPassword" name="password" required>
          </div>
          <div class="mb-3">
            <label for="registrationRepeatPassword" class="form-label">Повторите пароль</label>
            <input type="password" class="form-control" id="registrationRepeatPassword" name="repeat_password" required>
          </div>
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
      </div>
    </div>
  </div>
</div>





