<!-- myblog/templates/myblog/navbar.html -->
{% load static %}
<section class="my-navigation">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'img/GeekGenius-logo.png' %}" alt="GeekGenius-logo" width="30" height="30">
      </a>
      <a href="{% url 'index' %}" class="navbar-brand">
        <img src="{% static 'img/django-logo.png' %}" alt="django-logo" width="60" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="{% url 'index' %}">Главная</a>
          <!-- Добавляем выпадающий список секций блога -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Разделы блога
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
              <li><a class="dropdown-item" href="{% url 'polynomial_regression' %}">Полиномиальная регрессия</a></li>
              <li><a class="dropdown-item" href="{% url 'gradient_boosting' %}">Градиентный бустинг</a></li>
              <li><a class="dropdown-item" href="{% url 'polynomial_regression' %}">Рекурсивная нейронная сеть</a></li>
            </ul>
          </div>
        </div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success me-2" type="submit">Найти</button>
          <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#loginModal">Вход</button>
          <a href="{% url 'signout' %}" class="btn btn-outline-light">Выход</a>
          <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#registrationModal">Регистрация</button>
        </form>
      </div>
    </div>
  </nav>
</section>





