.carousel-item {
    height: 20rem; /* Поддерживаем одинаковую высоту для всех элементов карусели */
}

.carousel-caption {
    position: absolute;
    top: 50%; /* Сдвигаем вниз от верха на 50% высоты родителя */
    left: 50%; /* Сдвигаем вправо от левого края на 50% ширины родителя */
    transform: translate(-50%, -50%); /* Смещаем назад на 50% собственной ширины и высоты для центрирования */
    text-align: center; /* Выравниваем текст по центру */
    width: 75%;
}

.my-carousel h5 {
    font-size: 40px; /* Уменьшенный размер шрифта для заголовков */
}

.my-carousel p {
    font-size: 20px; /* Уменьшенный размер шрифта для параграфов */
}

.footer {
    background-color: #343a40;
}